In [3]:
import pandas as pd
df = pd.read_csv('Superstore.csv', encoding='latin1')

In [4]:
print('Data Shape:',df.shape)
print('\nData types:\n',df.dtypes)

Data Shape: (9994, 21)

Data types:
 Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [5]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [7]:
dup_count = df.duplicated().sum()
print(f'Number of duplicate rows: {dup_count}')

Number of duplicate rows: 0

In [9]:
if dup_count > 0:
    df = df.drop_duplicates()
    print("Duplicates dropped")
else:
    print('No duplicates found')

No duplicates found

In [11]:
missing_counts = df.isna().sum()
print('Missing values per column: \n', missing_counts)
if missing_counts.any():
    df = df.dropna()
    print('Missing values dropped')
else:
    print('No missing values')

Missing values per column:
 Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64
No missing values

In [13]:
df['Order Date']=pd.to_datetime(df['Order Date'])
df['Ship Date']=pd.to_datetime(df['Ship Date'])

numeric_cols = ['Sales','Quantity','Discount','Profit']
df[numeric_cols]=df[numeric_cols].apply(pd.to_numeric, errors='coerce')

print('\n Updated data types:\n', df.dtypes[['Order Date', 'Ship Date', *numeric_cols]])

 Updated data types:
 Order Date    datetime64[ns]
Ship Date     datetime64[ns]
Sales                float64
Quantity               int64
Discount             float64
Profit               float64
dtype: object

In [14]:
df.columns = [col.strip().lower().replace(' ', '_').replace('-', '_') for col in df.columns]
print("\nRenamed columns:\n", df.columns.tolist())

Renamed columns:
 ['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id', 'customer_name', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'sales', 'quantity', 'discount', 'profit']

In [16]:
df['order_year']=df['order_date'].dt.year
df['order_month']=df['order_date'].dt.month

df['order_quarter']=df['order_date'].dt.to_period('Q').astype(str)
df['order_day_of_the_week']=df['order_date'].dt.day_name()

print('\nDerived column')
print(df[['order_date','order_year','order_month','order_quarter','order_day_of_the_week']].head(3))

Derived column
  order_date  order_year  order_month order_quarter order_day_of_the_week
0 2016-11-08        2016           11        2016Q4               Tuesday
1 2016-11-08        2016           11        2016Q4               Tuesday
2 2016-06-12        2016            6        2016Q2                Sunday

In [17]:
df.head(3)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,sub_category,product_name,sales,quantity,discount,profit,order_year,order_month,order_quarter,order_day_of_the_week
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,2016,11,2016Q4,Tuesday
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,2016,11,2016Q4,Tuesday
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714,2016,6,2016Q2,Sunday

In [19]:
df.to_csv('superstore_cleaned.csv',index=False)
print("\nCleaned data saved to 'superstore_cleaned.csv'.")

Cleaned data saved to 'superstore_cleaned.csv'.